<h1>Dice Roll</h1>

<form action ="/process_roll">
  <label for="first">Number of dice to roll?</label>
  <input id="first" type="text" t name="dice">
  <label for="second">How many sides per die?</label>
  <input id="second" type="text" name="sides">
    <button>Roll!</button>
</form>
