<%= params %>

<h1>
  <%= @num_dice %>d<%= @num_sides %>
</h1>

<a href="/">Roll again</a> | <a href="/">Go back home</a>

<% @rolls %>

<ol>
  <% @rolls.each do |a_roll| %>
    <li>
      <span style="font-style: italic">Result:</span> <strong><%= a_roll %></strong>
    </li>
  <% end %>
</ol>
